
.navbar-background {
    background-color: #FFFFFF;
    color: black;
}

.navbar-text {
    position: absolute;
    left: 56.93%;
    right: 31.9%;
    top: 35.63%;
    bottom: 8.05%;

    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}

.navbar-request-box {
    background: #84AD43;
    border-radius: 10px;
}

.navbar-request-text {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

