.carouselWrapper {
  width: 60%;          
  margin: 100px auto 60px auto;
  position: relative;
}

.carouselImage {
  width: 70%;         
  margin: 0 auto;     
  border-radius: 16px;
  object-fit: cover;
}

.nextArrow, .prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #8bc34a;
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid white;
  z-index: 10;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
}

.nextArrow .arrow,
.prevArrow .arrow {
  display: inline-block;
  position: relative;
  top: -4px;
  line-height: 1;
}

.nextArrow:hover, .prevArrow:hover {
  transform: translateY(-50%) scale(1.1);
}

.nextArrow {
  right: -25px;        
}

.prevArrow {
  left: -25px;
}

@media (max-width: 768px) {
  .carouselWrapper {
    width: 95%;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .carouselImage {
    width: 90%;        
  }

  .nextArrow, .prevArrow {
    width: 40px;
    height: 40px;
    font-size: 25px;
    vertical-align: middle;
  }

  .nextArrow .arrow,
  .prevArrow .arrow {
    display: inline-block;
    position: relative;
    top: -2.5px;
    line-height: 1;
  }

  .nextArrow {
    right: 10px;
  }

  .prevArrow {
    left: 10px;
  }
}